<% include ../partials/header %>
<div class="jumbotron">
            <h1 class="display-3">Ejs</h1>
            <p class="lead">เหมือนหล่ออะไอ่เวร</p>
            <hr class="my-2">
            <p>5555555555555555555555555555555555555</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="about" role="button">มาดิมาดิ</a>
            </p>
        </div>







<% include ../partials/footer %>