<% include ../partials/header %>
<div class="jumbotron">
 <br>
 <h2>Report User</h2>
<table class="table">
    <thead>
       <tr  class="bg-secondary">
            <th>Customers ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Total Sales</th>
        </tr>
    </thead>
    <tbody>
    <% user.forEach(function(user) { %>
        <tr>
            <td scope="row"><font color="blue"><%= user.user_id %></td>
            <td><font color="blue"><%= user.name %></td>
            <td><font color="blue"><%= user.email %></td>
            <td>$<%= user.price %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
</div>
  <% include ../partials/footer %>